div {
    background-color: cornflowerblue;
}


h1 {
    border: 1px solid black;
    /* padding: 40px 100px; */
    padding: 10px 20px 30px 40px;
    /* padding-top: 100px; */
    margin: 20px 0px;
    /* margin-left: 100px; */
    background-color: skyblue;
}