div {
    width: 100%;
    background-color: cornflowerblue;
}


h1 {
    border: 10px solid black;
    padding: 10px;
    margin: 10px;
    width: 50%;
    min-width: 315px;
    /* max-width: 315px; */
    background-color: skyblue;
}