/* elements */
/* html {
    background-color: skyblue;
} */

* {
    margin: 0;
    /* background-color: skyblue; */

}

h1 {
    background-color: cornflowerblue;
    color:white;
}
/* classes */
.sub-header {
    font-size: 30px;
}

/* ids */
#main-header {
    font-size: 80px;
}